#formContainer{
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;  
}

.formContentLeft {
  width: 470px;
  margin-right: 10px;
  border-radius: 10px 0 0 10px;
  position: relative;
}

.formImg{
    width: 75%;
    height: 65%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#form-Login{
    height: 500px;
    padding: 30px 40px 20px 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 15px;
    background-color: #ffffff;
    border: solid 1px #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: myDialog 1.5s infinite;
    animation-iteration-count: 1;
}

@keyframes myDialog {
    from {top: 50px;}
    to {top: 360px;}
  }

.button{
    width: 100%;
    height: 34;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(12,136,92,1), rgba(0,186,120,1));
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.ant-btn-primary:hover {
  background: linear-gradient(to right, rgba(12,136,92,1), rgba(0,186,120,1));
  background-position: 0 100%;
}

.ant-btn-primary:focus{
  background: linear-gradient(to right, rgba(12,136,92,1), rgba(0,186,120,1));
  border-color: linear-gradient(to right, rgba(12,136,92,1), rgba(0,186,120,1));
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: darkgreen;
    border-color:   darkgreen;
}

.image{
    width: 120px;
    height: 100px;
}

.text{
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
}


