.image{
    width: 100%;
    height: 150;
}

.ant-collapse-content {
  background: palegreen;
}

.ant-menu-item-selected{
  box-shadow: 0 0 10px 1px rgb(248 96 134 / 70%);
  background: linear-gradient(to right, rgba(248,96,134,1), rgba(254,141,119,1));
  color: white;
}

.ant-menu :hover{
  color: inherit;
}

.ant-menu{
  background-color: white;
  }

/* .ant-menu-item ::after{
  border-right: 3px solid #FFFFFF;
} */

